.aboutus{
	justify-content: center;
	display: flex;
	padding: 15px 0px;
}
.icon{
	width: 200px;
    height: 200px;
	clip-path: circle();
}
.aboutus:hover{
	background: #E89F65;
}
.aboutus .description{
	width: 600px;
	margin: 30px 0px 0px 30px;
	word-break: break-all;
}
.aboutus .description .name{
	font-weight: bold;
	font-size: 20px;	
}
.aboutus .description .detail{
	padding: 5px;
}