.collection{
	justify-content: center;
	display: flex;
	padding: 10px 0px;
}
.collection:hover{
	background: #E89F65;
}
.collection a{
	font-weight: bold;
	color: black;
}
.collection a:hover{
	color: #B94629;
}
.icon{
	width: 200px;
    height: 200px;
	clip-path: circle();
}
.collection .description{
	width: 600px;
	margin: 30px 0px 0px 30px;
	word-break: break-all;
}
.collection .description .name{
	font-weight: bold;
	font-size: 20px;	
	text-align: center;
}
.collection .description .detail{
	padding: 5px;
}
span img{
    width: 50px;
    height: 50px;
	clip-path: circle();
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
 display: none;
 text-align: left;
 position: absolute;
 background-color: #E3DEC1;
 border: 2px solid black;
 border-radius: 9px;
 min-width: 160px;
 padding: 8px 6px;
 z-index: 1;
}
.dropdown:hover .dropdown-content {
 display: block;
}