table{
	border-collapse: collapse;
}
td{
	word-break: break-all;
}
.icon{
    width: 100px;
    height: 100px;
}
.desctiption{
    word-break: break-all;
}
tr{
	border-bottom: 1px solid white;
}
.fa-star{
    font-size: 40px;
    margin-top: 10px;
}
.checked{
    color: #f9f94bc9;
}
td{
	width: 280px;
	text-align: center;
	margin: 0px;
}
td img{
	width: 250px;
	height: 400px;
}
tbody tr:hover{
	background: #bfb9c54f;
}