<link rel="stylesheet" href="comparison.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="title">
    <center>Select products to compare</center>
</div>
<table class="comparisontable">
    <thead>
        <tr>
            <th></th>
            <th>
                <select ng-Model="select0">
                    <option value="">No</option>
                    <option ng-repeat="item in data.product" value="{{item.id}}">{{item.name + " (" + item.id + ")"}}</option>
                </select>
            </th>
            <th>
                <select ng-Model="select1">
                    <option value="">No</option>
                    <option ng-repeat="item in data.product" value="{{item.id}}">{{item.name + " (" + item.id + ")"}}</option>
                </select>
            </th>
            <th>
                <select ng-Model="select2">
                    <option value="">No</option>
                    <option ng-repeat="item in data.product" value="{{item.id}}">{{item.name + " (" + item.id + ")"}}</option>
                </select>
            </th>
            <th>
                <select ng-Model="select3">
                    <option value="">No</option>
                    <option ng-repeat="item in data.product" value="{{item.id}}">{{item.name + " (" + item.id + ")"}}</option>
                </select>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td width="280px">Name</td>
            <th width="280px">{{data.product[select0].name}}</th>
            <th width="280px">{{data.product[select1].name}}</th>
            <th width="280px">{{data.product[select2].name}}</th>
            <th width="280px">{{data.product[select3].name}}</th>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{data.product[select0].desctiption0}}</td>
            <td>{{data.product[select1].desctiption0}}</td>
            <td>{{data.product[select2].desctiption0}}</td>
            <td>{{data.product[select3].desctiption0}}</td>
        </tr>
        <tr>
            <td>Stylist</td>
            <td>{{stylist[data.product[select0].stylist].name}}</td>
            <td>{{stylist[data.product[select1].stylist].name}}</td>
            <td>{{stylist[data.product[select2].stylist].name}}</td>
            <td>{{stylist[data.product[select3].stylist].name}}</td>
        </tr>
        <tr>
            <td>Collection</td>
            <td>{{collection[data.product[select0].collection].name}}</td>
            <td>{{collection[data.product[select1].collection].name}}</td>
            <td>{{collection[data.product[select2].collection].name}}</td>
            <td>{{collection[data.product[select3].collection].name}}</td>

        </tr>
        <tr>
            <td>Rating</td>
            <td>
                <span ng-repeat="x in [].constructor(data.product[select0].star == NaN ? 0 : data.product[select0].star) track by $index" class="fa fa-star checked"></span>
                <span ng-repeat="x in [].constructor(data.product[select0].star == NaN ? 0 : (5 - data.product[select0].star)) track by $index" class="fa fa-star"></span>
            </td>
            <td>
                <span ng-repeat="x in [].constructor(data.product[select1].star == NaN ? 0 : data.product[select1].star) track by $index" class="fa fa-star checked"></span>
                <span ng-repeat="x in [].constructor(data.product[select1].star == NaN ? 0 : (5 - data.product[select1].star)) track by $index" class="fa fa-star"></span>
            </td>
            <td>
                <span ng-repeat="x in [].constructor(data.product[select2].star == NaN ? 0 : data.product[select2].star) track by $index" class="fa fa-star checked"></span>
                <span ng-repeat="x in [].constructor(data.product[select2].star == NaN ? 0 : (5 - data.product[select2].star)) track by $index" class="fa fa-star"></span>
            </td>
            <td>
                <span ng-repeat="x in [].constructor(data.product[select3].star == NaN ? 0 : data.product[select3].star) track by $index" class="fa fa-star checked"></span>
                <span ng-repeat="x in [].constructor(data.product[select3].star == NaN ? 0 : (5 - data.product[select3].star)) track by $index" class="fa fa-star"></span>
            </td>
        </tr>
        <tr>
            <td>Image</td>
            <td><img src="{{data.product[select0].icon != null ? data.product[select0].icon : 'Images/Products/sellectproduct.jpg'}}"></td>
            <td><img src="{{data.product[select1].icon != null ? data.product[select1].icon : 'Images/Products/sellectproduct.jpg'}}"></td>
            <td><img src="{{data.product[select2].icon != null ? data.product[select2].icon : 'Images/Products/sellectproduct.jpg'}}"></td>
            <td><img src="{{data.product[select3].icon != null ? data.product[select3].icon : 'Images/Products/sellectproduct.jpg'}}"></td>
        </tr>
        <tr>
            <td>Go to</td>
            <td>
                <a ng-href="{{'#!product?id=' + data.product[select0].id}}" target="_blank">{{data.product[select0].id != undefined ? data.product[select0].name + ' page' : ''}}</a>
            </td>
            <td>
                <a ng-href="{{'#!product?id=' + data.product[select1].id}}" target="_blank">{{data.product[select1].id != undefined ? data.product[select1].name + ' page' : ''}}</a>
            </td>
            <td>
                <a ng-href="{{'#!product?id=' + data.product[select2].id}}" target="_blank">{{data.product[select2].id != undefined ? data.product[select2].name + ' page' : ''}}</a>
            </td>
            <td>
                <a ng-href="{{'#!product?id=' + data.product[select3].id}}" target="_blank">{{data.product[select3].id != undefined ? data.product[select3].name + ' page' : ''}}</a>
            </td>
        </tr>
    </tbody>
</table>