.comparisontable{
	border-collapse: collapse;
}

.icon{
    width: 100px;
    height: 100px;
}
.desctiption{
    word-break: break-all;
}
.fa-star{
    font-size: 40px;
    margin-top: 10px;
}
.checked{
    color: #f9f94bc9;
}
.comparisontable td{
	width: 20%;
	word-break: break-all;
	text-align: center;
}
.comparisontable td img{
	width: 250px;
	height: 400px;
}
.comparisontable tbody tr:hover{
	background: #bfb9c54f;
}