<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Stylist</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
	<link rel="stylesheet" href="Index.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="IndexController.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
	<header id="header">
		<div class="navigation">
			<a href="#!home" title="">
				<img class="logo" src="Images/logo2.jpg" alt="">
			</a>
			<span class="navigation-center">
				<a href="#!stylist">{{data.freetext.header.stylist}}</a>
				<a href="#!collection">{{data.freetext.header.collection}}</a>
				<a href="#!comparison" title="">{{data.freetext.header.comparison}}</a>
				<a href="#!aboutus" title="">{{data.freetext.header.aboutus}}</a>
			</span>
			<div class="navigation-right">
				<div ng-click="showPopupLogin()">{{data.freetext.header.login}}</div>
				<div class="dropdown">
					<span>{{data.freetext.header.language}}</span>
					<i class="fa fa-sort-desc"></i>
					<div class="dropdown-content">
						<a href="" ng-click="translate('vn')">Vietnamese</a><br>
						<a href="" ng-click="translate('en')">English</a><br>					
  					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="loginpanel {{PopupLogin ? 'show' : 'unshow'}}">
		<i class="fa fa-times" aria-hidden="true" ng-click="showPopupLogin()"></i>
		<form ng-submit="login(username,password)">
			<table>
				<center>
					<img class="logo" src="Images/logo2.jpg" alt="">
					<h2>{{data.freetext.loginpanel.welcome}}</h2>
				</center>
				<tr>
					<td align="right"><b>{{data.freetext.loginpanel.user}}</b></td>
					<td><input type="text" ng-model="username" placeholder="Input username"></td>
				</tr>
				<tr>
					<td align="right"><b>{{data.freetext.loginpanel.pass}}</b></td>
					<td><input type="password" ng-model="password" placeholder="Input password"></td>
				</tr>
				<tr>
					<td align="right"><b>{{data.freetext.loginpanel.name}}</b></td>
					<td><input type="text" ng-model="name" placeholder="Require for new account"></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button type="submit">{{data.freetext.loginpanel.signinbtn}}</button>
						<button type="button" ng-click="signup(username,password,name)" value="Sign Up">{{data.freetext.loginpanel.signupbtn}}</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div class="content" ng-view ></div>
	<div class="footer">
		<div class="footer-copy_left">
			© 2022 Group 6. All Rights Reserved
		</div>
		<div class="footer-icon">
			<a href="#">
				<i class="fa fa-facebook-official" aria-hidden="true"></i>
			</a>
			<a href="#">
				<i class="fa fa-instagram" aria-hidden="true"></i>
			</a>
			<a href="#">
				<i class="fa fa-twitter-square" aria-hidden="true"></i>
			</a>
			<a href="#">
				<i class="fa fa-youtube-play" aria-hidden="true"></i>
			</a>		
			<a href="#">
				<i class="fa fa-linkedin" aria-hidden="true"></i>
			</a>
		</div>
	</div>
</body>
</html>
