.stylist{
	justify-content: center;
	display: flex;
}
.stylist:hover{
	background: #E89F65;
}
.stylist a{
	color: black;
	font-weight: bold;
}
.stylist a:hover{
	color: #B94629;
}

.stylist img{
	padding: 10px 0px;
	width: 200px;
    height: 200px;
	clip-path: circle();
}
.stylist .description{
	width: 600px;
	margin: 30px 0px 0px 30px;
	word-break: break-all;
}
.stylist .description .name{
	font-weight: bold;
	font-size: 20px;	
	text-align: center;
}
.stylist .description .detail{
	padding: 5px;
}