.stylist:hover{
	background: #DFDCE3;
}
.stylist a{
	color: black;
	justify-content: center;
	display: flex;
}
.stylist a:hover .name{
	color: blue;
}

.stylist img{
	padding: 10px 0px;
	width: 200px;
    height: 200px;
}
.stylist .description{
	width: 600px;
	margin: 30px 0px 0px 30px;
	word-break: break-all;
}
.stylist .description .name{
	font-weight: bold;
	font-size: 20px;	
	text-align: center;
}
.stylist .description .detail{
	padding: 5px;
}